
version: '3.8'
services:
  netflixDB:
    image: 'mysql:8.0.24'
    environment:
      - MYSQL_ROOT_PASSWORD=root
#      - MYSQL_PASSWORD=root
      - MYSQL_DATABASE=employee_details
    ports:
      - "3307:3306"
  netflixapp:
    image: netflixapp
    ports:
      - "8085:8085"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://netflixDB:3306/employee_details?allowPublicKeyRetrieval=true&autoReconnect=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: "root"
      SPRING_DATASOURCE_PASSWORD: "root"
    build:
      context: "./"
      dockerfile: "Dockerfile"
    depends_on:
      - netflixDB